body{
    margin:0;
    font-family:Arial;
    background:#f4f7fb;
}

/* NAVBAR */

nav{
    background:white;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 50px;
    box-shadow:0 2px 10px rgba(0,0,0,0.05);
}

nav ul{
    display:flex;
    list-style:none;
    gap:25px;
}

nav li{
    font-weight:bold;
    cursor:pointer;
}

#darkModeBtn{
    padding:10px 15px;
    border:none;
    border-radius:10px;
    cursor:pointer;
}

/* HERO */

header{
    background:linear-gradient(135deg,#000000,#1c1c1c);
    color:white;
    text-align:center;
    padding:120px 20px;
}

header h1{
    font-size:60px;
}

header p{
    font-size:22px;
    color:#cccccc;
}

header button{
    margin-top:20px;
    padding:15px 35px;
    border:none;
    border-radius:12px;
    font-size:18px;
    font-weight:bold;
    cursor:pointer;
}

/* CARDS */

.companies{
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    gap:25px;
    padding:70px 30px;
}

.card{
    background:white;
    width:300px;
    padding:25px;
    border-radius:20px;
    box-shadow:0 8px 20px rgba(0,0,0,0.08);
}

.card p{
    color:#555;
}

/* DARK MODE */

.dark{
    background:#121212;
    color:white;
}

.dark nav{
    background:#1f1f1f;
}

.dark .card{
    background:#1f1f1f;
    color:white;
}

.dark .card p{
    color:#cccccc;
}